apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: authentik-postgres
spec:
  instances: 3

  bootstrap:
    initdb:
      database: authentik
      owner: authentik
      dataChecksums: true

  storage:
    size: 1Gi
    storageClass: local-path

  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: backblaze
