---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app rook-ceph-cluster
spec:
  interval: 1h
  timeout: 15m
  chart:
    spec:
      chart: *app
      sourceRef:
        kind: HelmRepository
        name: rook-release
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    monitoring:
      enabled: true
      createPrometheusRules: true
    toolbox:
      enabled: true
    route:
      dashboard:
        host:
          name: rook.soybagel.com
          path: /
          pathType: PathPrefix
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
    cephClusterSpec:
      cephConfig:
        global:
          device_failure_prediction_mode: local # requires mgr module
          public_network: "10.8.8.0/24"
          cluster_network: "10.10.11.0/24"
      cleanupPolicy:
        wipeDevicesFromOtherClusters: true
      crashCollector:
        disable: false
      csi:
        readAffinity:
          enabled: true
        topology:
          enabled: false
          domainLabels: [ ]

      dashboard:
        enabled: true
        urlPrefix: /
        port: 7000
        ssl: false
        prometheusEndpoint: http://prometheus-operated.observability.svc.cluster.local:9090
        settings:
          grafana-api-url: http://grafana.observability.svc.cluster.local:80
          grafana-api-ssl-verify: false
      mgr:
        allowMultiplePerNode: false
        modules:
          - name: diskprediction_local
            enabled: true
          - name: telemetry
            enabled: true
          - name: insights
            enabled: true
          - name: pg_autoscaler
            enabled: true
          - name: rook
            enabled: true
      mon:
        count: 3
        allowMultiplePerNode: false
      network:
        provider: multus
        selectors:
          public: kube-system/k8s-net
          cluster: kube-system/storage-net
      storage:
        useAllNodes: true
        useAllDevices: true
        # Only create OSDs on devices that match the regular expression filter, "sdb" in this example
#        deviceFilter: nvme

        config:
          osdsPerDevice: "1"
