# ./kustomize/missing-binaries-patch.yaml
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: kube-multus-ds
  namespace: kube-system
spec:
  template:
    spec:
      initContainers:
        - name: install-cni
          image: ghcr.io/siderolabs/install-cni:v1.9.0
          command: ["/install-cni.sh"]
          securityContext:
            privileged: true
          volumeMounts:
            - mountPath: /host/opt/cni/bin
              mountPropagation: Bidirectional
              name: cnibin
