apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-library
spec:
  storageClassName: cephfs # Empty string must be explicitly set otherwise default StorageClass will be set
  volumeName: immich-library
