---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plugin-barman-cloud
  namespace: &namespace cnpg-system
spec:
  interval: 1h
  chart:
    spec:
      chart: *app
      sourceRef:
        kind: HelmRepository
        name: cnpg

---
apiVersion: barmancloud.cnpg.io/v1
kind: ObjectStore
metadata:
  name: aws-store
spec:
  configuration:
    destinationPath: "s3://scottgorlin-k8s-backup/cnpg"
    endpointURL: "https://s3.us-west-000.backblazeb2.com"
    s3Credentials:
      accessKeyId:
        name: aws-creds
        key: ACCESS_KEY_ID
      secretAccessKey:
        name: aws-creds
        key: ACCESS_SECRET_KEY
