apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headlamp
  namespace: headlamp
spec:
  chart:
    spec:
      chart: headlamp
      sourceRef:
        kind: HelmRepository
        name: headlamp
      version: "*"
  interval: 1m0s
  values:
    route:
      enabled: true
      parentRefs:
        - group: gateway.networking.k8s.io
          kind: Gateway
          name: internal
          namespace: kube-system
          sectionName: https
      hostnames:
        - "headlamp.${SECRET_DOMAIN}"
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: headlamp
              namespace: kube-system
              port: 80
    config:
      pluginsDir: /build/plugins
      oidc:
        secret:
          create: false
        externalSecret:
          enabled: true
          name: headlamp-authentik
    # Due to [this issue](https://github.com/headlamp-k8s/headlamp/issues/2022), we need to manually add the OIDC env vars for now
    env:
      - name: OIDC_CLIENT_ID
        valueFrom:
          secretKeyRef:
            name: headlamp-authentik
            key: clientID
      - name: OIDC_CLIENT_SECRET
        valueFrom:
          secretKeyRef:
            name: headlamp-authentik
            key: clientSecret
      - name: OIDC_ISSUER_URL
        valueFrom:
          secretKeyRef:
            name: headlamp-authentik
            key: issuerURL
#      - name: OIDC_SCOPES
#        valueFrom:
#          secretKeyRef:
#            name: headlamp-authentik
#            key: scopes
    initContainers:
      - command:
          - /bin/sh
          - -c
          - mkdir -p /build/plugins && cp -r /plugins/* /build/plugins/ && chown -R 100:101 /build
        image: ghcr.io/headlamp-k8s/headlamp-plugin-flux:latest
        imagePullPolicy: Always
        name: headlamp-plugins
        securityContext:
          runAsNonRoot: false
          privileged: false
          runAsUser: 0
          runAsGroup: 0
        volumeMounts:
          - mountPath: /build/plugins
            name: headlamp-plugins
    persistentVolumeClaim:
      accessModes:
        - ReadWriteOnce
      enabled: true
      size: 1Gi
    volumeMounts:
      - mountPath: /build/plugins
        name: headlamp-plugins
    volumes:
      - name: headlamp-plugins
        persistentVolumeClaim:
          claimName: headlamp # The name of the Helm release
